<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /agri_fresh/code/backend/api/

    # If the requested file or directory does not exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Send everything else to index.php with ?request=
    RewriteRule ^(.+)$ index.php?request=$1 [QSA,L]
</IfModule>
